doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    title ofo 共享单车
    link(href="/css/ofo.css", rel="stylesheet")
    script(type="application/javascript", src="/js/ofo.js")
  body
    header
      h1.title
        a(href='/') ofo
    main
      block content
    footer
      nav
        a(href='/tos') 服务条款
        a(href='/submit') 提交数据
